body{
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97vw;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    font-size: 10pt;
}

#frameholder{ /*from frame*/
    top: -21.8%;
    width: 140%; 
    height: 140%;
    position: absolute;
}
#frame2{
    -webkit-mask-image: url(./img/CircelFrame.png);
    mask-image: url(./img/CircelFrame.png);
    background-color: transparent;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: -17.22%;
    left: -24.3%;
    background-size: cover;
}
#border2{
    border-image: url(./img/OriginalFrame.png) 2000 fill / 50% / 0px round repeat;
    -webkit-mask-image: url(./img/OriginalFrame.png); /*naay error pero mo gana na 100%*/
    background-color: transparent;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-size: cover;
}

.color{
    background-color: white;  
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-size: cover;
}

video{
    width: 72%;
    height: 91%;
    
    object-fit: cover; /*newly added*/
    border-radius: 90% 90% 90% 90%;
}
/*                     2nd batch                    */

#photo{
    background-image: url(./img/Sample.jpg);
    background-position: 50% 50%;
    background-size: 225%;
    width: 72%;
    height: 91%;
    position: absolute;
    border-radius: 90%/90% 90% 90% 90%;
}

.con2{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    position: relative;
    right: -13%;
    background-color: black;
    border: 80px solid  black;
    border-radius: 20px;
    margin: 0%;
}

.inputsect{
    overflow: hidden;
    touch-action: cross-slide-y;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 280px;
    height: 400px;
    position:fixed;
    
    padding: 10px;
    left: 0px;
    top: 0px;
    background-color: rgb(39, 39, 39);
}
input{
    top: 0px;
    left: 0%;
    position: relative;
}
.item{
    display: flex;
    width: 130px;
    height: 40px;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}
        
.row{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}
.row-range{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}
.col{
    position: relative;
    margin: 0px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.col-range{
    position: relative;
    margin: 0px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

input[type="range"]{
    position: relative;
    left: 0px;
}
label{
    position: relative;
    left: 0px;
}
button{
    width: 60px;
    height: 30px;
}
.but{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*                     2nd batch                    */


/*                                           log                                  */

/*log pro 8
    now can control image hor and ver
    new log in js file about API
*/

/*log pro7
    now attempting it to fit in phones
*/

/*log prot 6
    now has added background color selector
    now has added border color selector
    now has added slider for sizing the container
*/

/*log prot 5
    now adding js and buttons

*/

/*log prot 4
    log in html

    video ratio fixed, how has been clipped
*/

/*log prot 3
    added border. new discovery, border-image width only accepts up to 50%, higher than that changes nothing. offset also doesnt accept negative value.
*/

/*log prot 2
    all container sizes are in %, that is to maintain its relative sizes to the container. 

    container should have 1:1 ratio for it to display correctly.
*/